<header>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image: url('../../../assets/background.png')">
      <div id="test">MyRpgCompanion</div>
      <div id="accroche">Create and modify your character sheets in real time and online!</div>
      <div class="container">
        <a  routerLink="/" routerLinkActive="active" class="btn">Create a Character</a>
      </div>
    </div>
    <div class="wrap">
      <img src="../../assets/arrow.png" id="arrow" class="animated bounce">
    </div>
  </div>
</header>
